<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cesium|xt3d</title>
    <!-- 引入Cesium -->
    <script src="https://unpkg.com/cesium@1.84.0/Build/Cesium/Cesium.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/cesium@1.84.0/Build/Cesium/Widgets/widgets.css">

    <!-- 使用vue绑定控件 -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.5/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.15.5/lib/index.js"></script>

    <!--  引入xt3d -->
    <script src="./bbb1.js"></script>
    <style>
        html,
        body,
        #map3d {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        
        .form-container {
            position: absolute;
            left: 10px;
            top: 90px;
            padding: 10px 15px;
            border-radius: 4px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            color: #ffffff;
            background: rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 14px rgb(128 128 128 / 50%);
            max-width: 380px;
        }
        
        button {
            background: transparent;
            border: 1px solid #00d0ffb8;
            color: white;
            padding: 7px 9px;
            border-radius: 2px;
            margin: 3px;
            cursor: pointer
        }
    </style>
</head>

<body>
    <div id="map3d"></div>
    <div class="form-container" id="formContainer">
        <div>
            <label>经度：</label>
            <input type="number" v-model="lon" step="0.0001" @change="valueChange" />
        </div>
        <div>
            <label>纬度：</label>
            <input type="number" v-model="lat" step="0.0001" @change="valueChange" />
        </div>
        <div>
            <label>高度：</label>
            <input type="number" v-model="alt" step="1" @change="valueChange" />
        </div>

        <div>
            <button @click="saveOpts">保存位置</button>
        </div>
    </div>
    <script>
        let xt3dInit = {
            init(el) {
                this.initViewer(el);
                this.load3dtiles();
                this.ModelLoadedEvent = new Cesium.Event();
                this.setView();
            },

            //初始化viewer
            initViewer(el) {
                this.viewer = new Cesium.Viewer(el, {
                    infoBox: false,
                    selectionIndicator: false,
                    navigation: false,
                    animation: false,
                    timeline: false,
                    baseLayerPicker: false,
                    geocoder: false,
                    homeButton: false,
                    sceneModePicker: false,
                    navigationHelpButton: false,
                    shouldAnimate: false,
                    imageryProvider: new Cesium.ArcGisMapServerImageryProvider({
                        url: 'https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer'
                    })
                });

            },

            //加载三维模型
            load3dtiles() {
                var tileset = this.viewer.scene.primitives.add(
                    new Cesium.Cesium3DTileset({
                        url: "http://earthsdk.com/v/last/Apps/assets/dayanta/tileset.json"
                        // url: "http://data.xtgis.cn/3dtiles/max-fsdzm/tileset.json"
                        //url: "http://127.0.0.1:5502/tileset.json"
                        // url: "http://www.xt3d.cn/data/3dtiles/gongchang/tileset.json",
                    })
                );

                tileset.readyPromise
                    .then(tileset => {
                        this.tileset = tileset;
                        this.getModelPosition(tileset); //获取相关信息
                        this.ModelLoadedEvent.raiseEvent(tileset); //触发加载事件 
                    })
                    .otherwise(function(error) {
                        console.log(error);
                    });
            },

            //设置初始视角
            setView() {
                let flyToOpts = {
                    destination: {
                        x: -2553829.0048385533,
                        y: 4098448.0454240823,
                        z: 4153748.432617833
                    },
                    orientation: {
                        heading: 5.839468957786144,
                        pitch: -0.8025309755809116,
                        roll: 6.281126381596655
                    },
                    duration: 1
                };
                this.viewer.scene.camera.setView(flyToOpts);
            },

            //获取模型位置
            getModelPosition(tileset) {
                let cartographic = Cesium.Cartographic.fromCartesian(
                    tileset.boundingSphere.center
                );
                this.modelLon = Cesium.Math.toDegrees(cartographic.longitude);
                this.modelLat = Cesium.Math.toDegrees(cartographic.latitude);
                this.modelAlt = cartographic.height;
            },

            //设置模型位置
            setModelPosition(lon, lat, alt) {
                this.modelLon = lon;
                this.modelLat = lat;
                this.modelAlt = alt;
                //平移 
                let position = Cesium.Cartesian3.fromDegrees(
                    this.modelLon,
                    this.modelLat,
                    this.modelAlt
                );
                let m = Cesium.Transforms.eastNorthUpToFixedFrame(position);
                //赋值给tileset 
                this.tileset._root.transform = m;
            },

            destroy() {
                this.viewer.entities.removeAll();
                this.viewer.imageryLayers.removeAll(true);
                this.viewer.destroy();
            }
        }

        xt3dInit.init("map3d");


        //界面控制
        let vm = new Vue({
            el: "#formContainer",
            data() {
                return {
                    lon: 0,
                    lat: 0,
                    alt: 0
                }
            },
            methods: {
                valueChange() {
                    if (!xt3dInit) return;
                    xt3dInit.setModelPosition(
                        Number(this.lon),
                        Number(this.lat),
                        Number(this.alt)
                    );
                },

                saveOpts() {
                    console.log(this.lon, this.lat, this.alt);
                },
            }
        })



        xt3dInit.ModelLoadedEvent.addEventListener(e => {
            vm.lon = xt3dInit.modelLon;
            vm.lat = xt3dInit.modelLat;
            vm.alt = xt3dInit.modelAlt;
        });
    </script>
</body>

</html>